# mysql
DB_NAME=wagtail-db
DB_USER=root
DB_PASS=
DB_HOST=127.0.0.1
DB_PORT=3306 

# postgres
POSTGRES_DATABASE = wagtail_db
POSTGRES_USER = postgres
POSTGRES_PASSWORD = postgres
DB_HOST = localhost
POSTGRES_PORT = 5433